# Hacker Rank | MS SQL | T-SQL

### Weather Observation Station 5

Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.
The STATION table is described as follows:

In [ ]:

SELECT Top(1)
    city, 
    len(city) As CityLen
FROM Station
ORDER BY CityLen, city;

SELECT Top(1)
    city, 
    len(city) As CityLen
FROM Station
ORDER BY CityLen DESC, city ASC;

City Starts with a vowel

In [ ]:

SELECT DISTINCT
    City
FROM
    STATION
Where City like 'a%'
OR City like 'e%'
OR City like 'i%'
OR City like 'o%'
OR City like 'u%';

City Starts and ends with a vowel, no duplicates

In [ ]:
SELECT DISTINCT
    City
FROM
    STATION
Where 
-- starting with a vowel
(City like 'a%'
OR City like 'e%'
OR City like 'i%'
OR City like 'o%'
OR City like 'u%')
AND
-- ending with a vowel
(City like '%a'
OR City like '%e'
OR City like '%i'
OR City like '%o'
OR City like '%u')
;

List City that does not start with vowel

In [ ]:
Select 
    Distinct City 
From Station
Where City Not Like 'a%'
AND City Not like 'e%'
AND City Not like 'i%'
AND City Not like 'o%'
AND City Not like 'u%'
;

Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.

In [ ]:
/*
Enter your query here.
Please append a semicolon ";" at the end of the query and enter your query in a single line to avoid error.
*/
Select 
    Distinct City 
From Station
Where City Not like '%a'
And City Not like '%e'
And City Not like '%i'
And City Not like '%o'
And City Not like '%u';

Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates.

In [ ]:
SELECT 
    Distinct City
FROM STATION
Where
-- not starting with a vowel
(City Not Like 'a%'
AND City Not like 'e%'
AND City Not like 'i%'
AND City Not like 'o%'
AND City Not like 'u%')
OR
-- not ending with a vowel
(City Not Like '%a'
AND City Not like '%e'
AND City Not like '%i'
AND City Not like '%o'
AND City Not like '%u');

Query the list of CITY names from STATION that do not start with vowels and do not end with vowels. Your result cannot contain duplicates.

In [ ]:
Select GETDATE()

Query the Name of any student in STUDENTS who scored higher thanÂ  Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID.

In [ ]:
Select * From Students;

## Two Stars

> HACKERRANK | Transact Standard Query Language | T-SQL

Query the Name of any student in STUDENTS who scored higher than \*75\* Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID.

In [ ]:
SELECT
    s.[Name]
FROM Students s
Where s.Marks > 75
Order BY RIGHT(s.[Name], 3), s.ID ASC;