# SQL Practice

> Ahmed O. Roberts
>
> This is me practicing to be a full time Azure data engineer.<br>
> August 30, 2024

In [ ]:

WITH counts AS (
	Select 
	ProductID, COUNT(*) as cnt
	From SalesLT.SalesOrderDetail
	GROUP BY ProductID
), 

	ranked AS (
Select *, RANK() OVER(ORDER BY cnt DESC, ProductID) as rank
From counts	
	)

SELECT * FROM ranked
WHERE rank = 2 or rank = 5

This gets the second and 5th ranked of something.
> Learning from [Data with Zach](https://www.youtube.com/@EcZachly_/videos)

```sql
WITH counts AS (
	Select 
	ProductID, COUNT(*) as cnt
	From SalesLT.SalesOrderDetail
	GROUP BY ProductID
), 

	ranked AS (
Select *, RANK() OVER(ORDER BY cnt DESC, ProductID) as rank
From counts	
	)

SELECT * FROM ranked
WHERE rank = 2 or rank = 5
```

## Create the tables

SQL Markdown makes it really easy to write about what your queries are doing.

```sql
-- run_on_start
CREATE TABLE Persons (
  PersonID int,
  LastName varchar(255),
  FirstName varchar(255),
  Address varchar(255),
  City varchar(255)
);
```

## Insert some data

It's great for educational purposes.

```sql
-- run_on_start
INSERT INTO Persons VALUES (
  1,
  'Kahler',
  'Rico',
  '123 street',
  'Detroit'
)
```

And makes for great demos!

## See the results

```sql
-- run_on_start
SELECT * FROM Persons;
```

## Get started with SQL Markdown

[Back to the readme](https://github.com/ricokahler/sqlmarkdown)