# SQL Practice

> Ahmed O. Roberts
>
> This is me practicing to be a full time Azure data engineer.<br>
> August 30, 2024

In [ ]:

WITH counts AS (
	Select 
	ProductID, COUNT(*) as cnt
	From SalesLT.SalesOrderDetail
	GROUP BY ProductID
), 

	ranked AS (
Select *, RANK() OVER(ORDER BY cnt DESC, ProductID) as rank
From counts	
	)

SELECT * FROM ranked
WHERE rank = 2 or rank = 5

This gets the second and 5th ranked of something.
> Powered by [Data with Zach](https://www.youtube.com/@EcZachly_/videos)

```sql
WITH counts AS (
	Select 
	ProductID, COUNT(*) as cnt
	From SalesLT.SalesOrderDetail
	GROUP BY ProductID
), 

	ranked AS (
Select *, RANK() OVER(ORDER BY cnt DESC, ProductID) as rank
From counts	
	)

SELECT * FROM ranked
WHERE rank = 2 or rank = 5
```