# Transact-SQL (T-SQL) Development from start to finish

> Ahmed O. Roberts | August 2024

In [ ]:
-- Create Imaginary Database
/*
CREATE DATABASE MyAmazingDatabase
ON 
( NAME = MyAmazingDatabase_Data, 
  FILENAME = 'C:\SQLData\MyAmazingDatabaseData.mdf', 
  SIZE = 10MB, 
  MAXSIZE = 100MB, 
  FILEGROWTH = 5MB )
LOG ON 
( NAME = MyAmazingDatabase_Log, 
  FILENAME = 'C:\SQLData\MyAmazingDatabaseLog.ldf', 
  SIZE = 5MB, 
  MAXSIZE = 50MB, 
  FILEGROWTH = 5MB );
*/

## Create Schemas

In [ ]:
CREATE SCHEMA Customers
GO

CREATE SCHEMA Orders
GO

CREATE SCHEMA Products
GO

CREATE SCHEMA LookupTables
GO

CREATE SCHEMA HumanResources
GO

## Create Tables

Customers

In [ ]:
Create Table Customers.Customer
( 
  CustomerID    INT           Identity(1,1),
  CompanyName   Varchar(50)   Null,
  FirstName     Varchar(50)   Null,
  LastName      Varchar(50)   Null,
  ModifiedDate  DATE          Not Null
)
GO

In [ ]:
Create Table Customers.CustomerAddress
(
  AddressID      INT           Identity(1, 1),
  AddressType    Varchar(20)   Not Null,
  AddressLine1   Varchar(50)   Not Null,
  AddressLine2   Varchar(50)   Null,
  AddressLine3   Varchar(50)   Null,
  City           Varchar(50)   Not Null,
  StateProvince  Varchar(50)   Null,
  Country        Varchar(70)   Null
)
GO

Orders

In [ ]:
Create Table Orders.OrderHeader
(
  OrderID         INT         Identity(1,1),
  OrderDate       DATE        Not Null,
  Subtotal        Money       Not Null,
  TaxAmount       Money       Not Null,
  ShippingAmount  Money       Not Null,
  FinalShipDate   DATE        Null
)
GO

In [ ]:
Create Table Ordrs.OrderDetail
(
  OrderDetailID     INT       Identity(1,1),
  SKU               Char(10)  Not Null,
  Quantity          INT       Not Null,
  UnitPrice         Money     Not Null,
  ShipDate          DATE      Null
)
GO

Products

In [ ]:
Create Table Products.Product
(
  ProductID             INT           Identity(1,1),
  ProductName           Varchar(50)   Not Null,
  ProductCost           Money         Not Null,
  ListPrice             Money         Not Null,
  ProductDescription    XML           Null
)
GO

Human Resources

In [ ]:
Create Table HumanResources.Employee
(
  EmployeeID       INT           IDENTITY(1,1),
  FirstName        Varchar(50)   Not Null,
  LastName         Varchar(50)    Not Null,
  JobTitle         Varchar(50)    Not Null,
  BirthDate        DATE           Not Null,
  HireDate         Date           Not Null
)
GO

In [ ]:
Create Table HumanResources.EmployeeAddress
(
  AddressID      INT           Identity(1, 1),
  AddressType    Varchar(20)   Not Null,
  AddressLine1   Varchar(50)   Not Null,
  AddressLine2   Varchar(50)   Null,
  AddressLine3   Varchar(50)   Null,
  City           Varchar(50)   Not Null,
  StateProvince  Varchar(50)   Null,
  Country        Varchar(70)   Null
)
GO

[Link to How to add Advetureworks](https://learn.microsoft.com/en-us/sql/samples/adventureworks-install-configure?view=sql-server-ver16&tabs=tsql)

In [ ]:
-- C:\Users\aroberts\Downloads
-- AdventureWorksLT2022.bak
-- (https://learn.microsoft.com/en-us/sql/samples/adventureworks-install-configure?view=sql-server-ver16&tabs=tsql)
/*
USE [master];
GO
RESTORE DATABASE [AdventureWorks2022]
FROM DISK = '/var/opt/mssql/backup/AdventureWorks2022.bak'
WITH
    MOVE 'AdventureWorks2022' TO '/var/opt/mssql/data/AdventureWorks2022_Data.mdf',
    MOVE 'AdventureWorks2022_log' TO '/var/opt/mssql/data/AdventureWorks2022_log.ldf',
    FILE = 1,
    NOUNLOAD,
    STATS = 5;
GO
*/